body {
	font-size: 100%;
}
.page {
	width: 100%;
	max-width: 600px;
	margin: auto;
	padding: 5px;
}
.annonce {
	border: 3px double red;
	padding: 5px;
}
header {
	margin: auto;
}
h1 {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}
h2 {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 1.7em;
	text-align: center;
}	
